%section.feature
  %h2=h file.feature.name.empty? ? file.name : file.feature.name
  
  = render_partial('tags', tags: file.feature.tags)

  - unless file.feature.description.empty?
    %blockquote
      =h(file.feature.description).gsub("\n", "<br/>")

%section.scenarios
  - if file.feature.background
    = render_partial('scenario', test: file.feature.background, div_id: file.feature.background.parsing_data.to_h.dig(:background, :id))

  - file.feature.tests.each do |test|
    = render_partial('scenario', test: test, div_id: test.parsing_data.to_h.dig(:scenario, :id))